mixin five-years__item(title, img, name, site, slogan, text)
  .five-years__reviews-item
    h3.five-years__item-title=title
    .five-years__item-wrapper
      div 
        img(src=img, alt="").five-years__item-img
        h5.five-years__item-name=name
        h5.five-years__item-site=site
      div 
        .five-years__item-slogan=slogan
        .five-years__item-text=text
        .five-years__item-more
          a(href="img/fy-1.png", data-fancybox="").five-years__item-original Читать оригинал
          a(href="javascript:void(0)").five-years__item-full Читать весь отзыв

section.five-years#five-years
  .container 
    h2 за 5 лет мы сделали #[br] более 200 магазинов #[br] по росси и снг

    .five-years__reviews.def-slider
      div
        +five-years__item('Эти отзывы греют нам душу :)', 'img/fy-1.png', 'Иван Иванов', 'graduskomforta.ru ', '«Работать было очень комфортно»', 'Заказывал у Дениса сайт на шаблоне Insales. Заказ отлично выполнен. Денис очень тактичный и внимательный человек! Он мгновенно выполнял все мои пожелания и много разъяснял и помогал, очень деликатно вносил нужные предложения! Работать было очень комфортно. Часть технического задания не была готова, но он подсказывал, что...')
        +five-years__item('За эти отзывы мы благодарны нашим клиентам :)', 'img/fy-2.png', 'Валерия Николаева', 'saite.ru', '«Выполнил задачу превосходно» ', 'Нужно было создать интернет магазин. Исполнитель выполнил задачу превосходно, давал консультации и  советы. Все могло быть значительно быстрее если бы я предоставляла информацию сразу. Вежливый, пунктуальный, все делает быстро. Буду обращаться ещё по мере появления новых проектов. Спасибо.')
      div
        +five-years__item('За эти отзывы мы благодарны нашим клиентам :)', 'img/fy-2.png', 'Валерия Николаева', 'saite.ru', '«Выполнил задачу превосходно» ', 'Нужно было создать интернет магазин. Исполнитель выполнил задачу превосходно, давал консультации и  советы. Все могло быть значительно быстрее если бы я предоставляла информацию сразу. Вежливый, пунктуальный, все делает быстро. Буду обращаться ещё по мере появления новых проектов. Спасибо.')
        +five-years__item('Эти отзывы греют нам душу :)', 'img/fy-1.png', 'Иван Иванов', 'graduskomforta.ru ', '«Работать было очень комфортно»', 'Заказывал у Дениса сайт на шаблоне Insales. Заказ отлично выполнен. Денис очень тактичный и внимательный человек! Он мгновенно выполнял все мои пожелания и много разъяснял и помогал, очень деликатно вносил нужные предложения! Работать было очень комфортно. Часть технического задания не была готова, но он подсказывал, что...')

